

body {
    margin: 0;
    height: 100vh;
}

#wrapper {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    background-image: url("../media/logo.png");
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
}

footer {
    font-size: 14px;
}

.hidden {
    display: none;
}