#login_register > h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#inputs input {
    font-size: 17px;
    padding-left: 5px;
    height: 25px;
}

#username, #password {
    display: flex;
    flex-direction: column;
}

#message, #toggler {
    text-align: center;
}

#message {
    padding: 5px 0px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#toggler {
    margin-top: 50px;
    text-decoration: underline;
}
#toggler:hover {
    cursor: pointer;
}

#login_register_button {
    font-size: 25px;
    width: 100%;
    padding: 10px 0px;
}

