#logged_in_header.not_hidden {
    background-color: rgba(255, 255, 255, 0.703);

    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    
    display: flex;
    justify-content: space-between;
}

#quiz {
    margin: 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}